<div class="jumbotron text-center">
  <h1>Event promotion start with <br><span class="eventboard">EventBoard</span></h1>
  <h4>Professional, conferences, workshops, Trainning events, seminars, private events, music &amp; concerts, fund raising, &amp; donations, free events &amp; and much more...</h4>
  <h4><%= link_to "Start your event", new_event_path, class: "new start-event" %>
     <%= link_to "Discover Events", events_path, class: "edit discover-event" %></h4>
</div>
<h2 class="text-center tag-line">
  Organizing and promoting events can be very demnding We help you make it easy with less stress.
</h2>
<hr>
